@charset "UTF-8";

*{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body{
    background-image: linear-gradient(to right, #FF0005, #121212);
}

main{
    background-color: white;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #232020;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    text-align: center;
    color: red;
    text-shadow: 1px 1px 2px #32292F;
}

h2{
    color: #00389C;

}

p{
    text-align: justify;
}